// 日本語のフォント
@mixin KosugiMaru {
    font-family: 'Kosugi Maru'
}

// 日本語のフォント
@mixin ZenMaruGothic {
    font-family: 'Zen Maru Gothic'
}

// 英語のフォント
@mixin OleoScript {
    font-family: 'Oleo Script'
}