@use 'color' as color;

// +-+-+-+-+-+-+-+-+-+-+-+-+- メニュー用 +-+-+-+-+-+-+-+-+-+-+-+-+-

// 親要素
.dropdown-menu {
    position: relative;
    display: inline-block;
}

// ドロップダウンボタン
.dropdown-menu-btn {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: color.$main;
    color: white;
    padding: 10px 20px;
    margin-top: 3px;
}

// 内容
.dropdown-menu-content {
    display: none;
    position: absolute;
    z-index: 999;
    width: 200px;
}

// 内容の各ボタン
.dropdown-menu-content .dropdown-menu-content-element {
    text-decoration: none;
    display: block;
    font-size: 12px;
    background-color: #000000;
    color: white;
    padding: 10px;
    width: 250px;
    text-align: left;
}

// 各ボタンのホバー時
.dropdown-menu-content .dropdown-menu-content-element:hover {
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}

// +-+-+-+-+-+-+-+-+-+-+-+-+- 操作用 +-+-+-+-+-+-+-+-+-+-+-+-+-

// 親要素
.dropdown-operation {
    position: relative;
    display: inline-block;
}

// ドロップダウンボタン
.dropdown-operation-btn {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: color.$operation;
    color: white;
    padding: 5px 5px;
}

// 内容
.dropdown-operation-content {
    display: none;
    position: absolute;
    z-index: 999;
    width: 200px;
}

// 内容の各ボタン
.dropdown-operation-content .dropdown-operation-content-element {
    text-decoration: none;
    display: block;
    font-size: 12px;
    background-color: #000000;
    color: white;
    padding: 10px;
    width: 250px;
    text-align: left;
}

// 各ボタンのホバー時
.dropdown-operation-content .dropdown-operation-content-element:hover {
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}