// 無駄なスクロールバーを非表示
.disable_scrollbar::-webkit-scrollbar {
    display: none;
}

// 権限のリスト用
.role_list {
    width: 100%;
    height: calc(100vh - 80px);
}

// ユーザーのリスト用
.user_list {
    width: 100%;
    height: calc(100vh - 125px);
}

// 車両のリスト用
.vehicle_list {
    width: 100%;
    height: calc(100vh - 125px);
}

// 操作ログのリスト用
.operation_log_list {
    width: 100%;
    height: calc(100vh - 125px);
}