// 無駄なスクロールバーを非表示
.disable_scrollbar::-webkit-scrollbar {
    display: none;
}

// 従業員のリスト用
.employee_list {
    width: 100%;
    height: calc(100vh - 125px);
}

// 従業員取込履歴のリスト用
.employee_import_history_list {
    width: 100%;
    height: calc(100vh - 125px);
}

// 権限のリスト用
.role_list {
    width: 100%;
    height: calc(100vh - 80px);
}

// 営業所のリスト用
.base_list {
    width: 100%;
    height: calc(100vh - 125px);
}

// ユーザーのリスト用
.user_list {
    width: 100%;
    height: calc(100vh - 125px);
}

// 操作ログのリスト用
.operation_log_list {
    width: 100%;
    height: calc(100vh - 125px);
}