@use 'color' as color;

/*  ナビゲーションバー本体  */
#navigation-bar {
    height: 100%;
    width: 250px;
    background-color:color.$sub;
    position: fixed;
    left: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    overflow-y: auto;
    flex-grow: 1;
    padding-bottom: 20px;
}

.navigation-scroll {
    overflow-y: auto;
    scrollbar-width: none;
}

/* Webkit系ブラウザ */
#navigation-bar::-webkit-scrollbar {
    width: 0;
}

#navigation-bar:hover::-webkit-scrollbar {
    width: 4px;
}

#navigation-bar::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}

/*  ナビゲーションボタン  */
.navigation-btn-div{
    color: black;
    z-index: 30;
    font-size: 20px;
    display: flex;
    position: relative;
}
.navigation-btn-div > a,
.navigation-btn-div > p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 5px 0;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.navigation-btn-div > a:hover,
.navigation-btn-div > p:hover {
    color: white;
    background-color: color.$main;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

#navigation_top_div {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}
#logo {
    cursor: default;
    width: 80px;
}

/*  アイコン用  */
.navigation-btn-icon {
    padding-left: 5px;
}

// 矢印の回転
.arrow {
  transition: transform 0.3s ease;
}

// 矢印を180度回転
.arrow.open {
  transform: rotate(180deg);
}